body {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: white;
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 4px;
}

.header__nav {
  max-width: 1032px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
}

.header__mode h3 {
  padding-right: 0px;
}

.header__search {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  width: 250px;
  height: 20px;
}

.header__search .search {
  border: 0.5px solid gray;
  border-radius: 3px;
  background-color: white;
  color: grey;
}
.header__search span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border: 0.5px solid gray;
  border-radius: 3px;
  background-color: orangered;
  color: white;
}

.conteiner_wrpper {
  max-width: 1032px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.title {
  margin: 70px 0;
}

.title h1 {
  margin-bottom: 10px;
}

.title div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.title div samp {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.507);
  box-shadow: 0.5px 0.5px 1px;
  border-radius: 5px;
  height: auto;
  width: auto;
  padding: 5px;
  transition: box-shadow 0.3s;
  transition: background-color 0.3s;
}

.title div samp:hover {
  box-shadow: 1px 1px 2px;
  background-color: orangered;
}

.content {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.content .posts {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.content .posts div {
  width: 300px;
  border: 1px solid rgba(150, 149, 149, 0.281);
  height: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.content .posts div:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.content .posts div img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.content .posts div p {
  margin: 0;
  padding: 0 15px;
  line-height: 1.5;
}

.content .posts div p:first-of-type {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.content .posts div p:last-of-type {
  font-size: 12px;
  color: #888;
}

.rightpost p {
  margin: 15px;
}

.rightpost div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 300px;
  height: 90px;
  border: 1px solid rgba(150, 149, 149, 0.281);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  margin: 15px;
  padding: 0 10px;
}

.rightpost div:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.rightpost div img {
  border-radius: 12px;
  /* margin-bottom: 10px; */
  width: 90px;
  height: 70px;
}
