body {
  padding: 0;
  margin: 0;
  background-color: #c4ebf9;
}

.container {
  max-width: 932px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  padding: 0;
  margin: 0;
  color: white;
}

.main {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 5px;
}

.main > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main > div:first-child {
  grid-column: 1/4;
  height: 60px;
  background-color: #02bfb1;
  margin: 10px;
}

.main > div:nth-child(2) {
  grid-column: 1/2;
  height: 400px;
  background-color: rgb(110, 219, 110);
  margin: 10px;
}
.main > div:nth-child(3) {
  grid-column: 2/4;
  height: 400px;
  background-color: rgb(251, 176, 76);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
}

.diviamge {
  display: grid;
  grid-template-columns: auto auto auto;
  /* padding: 0 50px; */
  margin: 15px 1px;
  gap: 15px;
  width: 98%;
}

.diviamge .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: rgb(252, 210, 74);
}

.main > div:last-child {
  grid-column: 1/4;
  height: 60px;
  background-color: rgb(2, 191, 177);
  margin: 10px;
}
