body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  max-width: 932px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 10px;
  color: black;
}

.main div {

  height: 70px;
  color: black;
}

.main div:first-child {
  background-color: rgb(115, 232, 213);
}

.main div:nth-child(2) {
  background-color: rgb(61, 182, 167);
}

.main div:nth-child(3) {
  background-color: rgb(39, 118, 109);
}

.main div:nth-child(4) {
    grid-column: 2/3;
  background-color: rgb(48, 147, 137);
}

.main div:nth-child(5) {
    grid-column: 1/2;
  background-color: rgb(79, 210, 191);
}

.main div:last-child {
  background-color: rgb(33, 93, 89);
}
