body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  max-width: 932px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  display: flex;
  justify-content: center;
  color: white;
}

.main {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  color: black;
}

.main div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  color: black;
}

.main div:first-child {
  grid-column: 1/3;
  background-color: rgb(247, 225, 80);
}

.main div:nth-child(2) {
  background-color: rgb(244, 207, 44);
}

.main div:nth-child(3) {
  background-color: rgb(228, 181, 33);
}

.main div:nth-child(4) {
  background-color: rgb(196, 139, 24);
}

.main div:nth-child(5) {
  background-color: rgb(129, 79, 21);
}

.main div:last-child {
  grid-column: 1/4;
  background-color: rgb(155, 100, 20);
}
