@use "mixing";

body {
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 1032px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

table,
th,
td {
  border-spacing: unset;
  border: 1px solid gray;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
}

tbody tr:nth-child(odd) {
  background-color: rgb(223, 255, 255);
}

