body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.container {
  max-width: 932px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  color: white;
}

.main div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 300px;
  height: 200px;
}

.main div:first-child {
  background-color: rgb(0, 221, 153);
}

.main div:nth-child(2) {
  background-color: rgb(221, 153, 0);
}

.main div:nth-child(3) {
  background-color: rgb(153, 0, 221);
}

.main div:nth-child(4) {
  grid-column: 1/2;
  background-color: rgb(221, 0, 153);
}

.main div:nth-child(5) {
  grid-column: 2/4;
  grid-row: 2/4;
   width: 614px;
  height: 414px;
  background-color: rgb(153, 221, 0);
}

.main div:last-child {
  background-color: rgb(0, 153, 221);
}
